@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 400px;
    height: 700px;
    grid-template-rows: repeat(100px 1fr);
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    color: rgb(90, 252, 26);
}

.calcButton {
   font-size: 20px;
   background-color: rgb(184, 184, 176);
}

#clearButton {
    grid-column-start: 1;
    grid-column-end: 4;
}

