.calculator {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 400px;
    height: 700px;
}

.screen {
    grid-column-start: 1;
    grid-column-end: 4;
    border-style: solid;
    border-width: 1px;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    font-size: 19px;
    padding: 5px;
    flex-direction: column;
    justify-content: center;
}

.calcButton {
   font-size: 20px;
}

#clearButton {
    grid-column-start: 1;
    grid-column-end: 4;
}